@font-face{
    font-family: "Animado";
    src: url("../fonts/SuperMario256.ttf");
}

body {
  background-image:url("../img/space.jpg.webp");
  background-color:  rgba(24, 24, 24, 0.658);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
    text-align: center;
    font-family: Animado;
    background-color: rgba(24, 24, 24, 0.658);
}
header h1 {
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 6px 4px #000000;
    font-size: 40px;
}

main {
    height: 100%;
    /* background-color: rgba(24, 24, 24, 0.466); */

}

.content-form {
    margin-top: 150px;


}

.form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content-elements-form {
    background-color: rgba(24, 24, 24, 0.658);
    border-radius: 8px;
    padding: 30px;
}

.content-input-text {
    width: 100%;
}

.form-text {
    margin-bottom: 25px;
    background: #4c4c4ca1;
    width: 98%;
    text-align: center;
    height: 50px;
    font-size: larger;
    border: 2px solid rgb(109 109 109 / 66%);
    border-radius: 8px;
    color: white;
}

.form-button {
    width: 100%;
    height: 60px;
    background: #03a9f48a;
    border: 2px solid #191919a9;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
}

input::placeholder {
    color: rgb(187, 185, 185);
  }

.triki {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.triki button {
    height: 100px;
    width: 100px;
    border: 2px solid rgba(160, 160, 160, 0.664);
    font-size: x-large;
    color:transparent;
    background-color: rgba(24, 24, 24, 0.658);
    
}

.triki button:disabled,
.triki button[disabled]{
  background-color: rgba(24, 24, 24, 0.658);
  font-weight: bold;
}

.content {
    display: none;
}

.content-triki {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content-mensaje {
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mensaje {
    margin-top: 20px;
    width: 250px;
    padding: 25px;
    border-radius: 8px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background-color: rgb(29 29 29 / 44%);
    border: 2px solid rgba(160, 160, 160, 0.664);
    text-shadow: -1px 6px 4px #000000;
}

.show {
    display: inline;
}

.ocult {
    display: none;
}

.blue {
    text-shadow: -1px 6px 4px #000000;

  color: rgb(132, 0, 255) !important;
}

.red {
    text-shadow: -1px 6px 4px #000000;
    color:rgb(255, 123, 0) !important;

}

.triki-show {
    border:  3px solid  rgb(0, 196, 186) !important;
}

@media only screen and (min-width: 320px) {
    .content-elements-form {
        background-color: rgba(24, 24, 24, 0.658);
        border-radius: 8px;
        padding: 30px;
        width: 80%;
    }
}

@media only screen and (min-width: 900px) {
    .content-elements-form {
        background-color: rgba(24, 24, 24, 0.658);
        border-radius: 8px;
        padding: 30px;
        width: 60%;
    }
}

@media only screen and (min-width: 1000px) {
    .content-elements-form {
        background-color: rgba(24, 24, 24, 0.658);
        border-radius: 8px;
        padding: 30px;
        width: 30%;
    }
}


